<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../../header.ejs %>
<form action="/conferences/post" method="POST">
  <div class="form-group">
    <label for="InputName">Nom de la conference</label>
    <input type="text" class="form-control" name="name" id="InputName" value=<%- conference.name %>>
  </div>
  <div class="form-group">
    <label for="InputFirstName">Prénom du conférencier</label>
    <input type="text" class="form-control" name="firstName" id="InputFirstName" value=<%- conference.speaker.firstName %>>
  </div>
  <div class="form-group">
    <label for="InputLastName">Nom du conférencier</label>
    <input type="text" class="form-control" name="lastName" id="InputLastName" value=<%- conference.speaker.lastName %>>
  </div>
  <div class="form-group">
    <label for="InputDate">Date</label>
    <input type="text" class="form-control" name="date" id="InputDate" value=<%- conference.date %>>
  </div>
  <button type="submit" class="btn btn-primary">Modifier</button>
</form>
</body>
</html>